html, body, #home {
   height: 100%;
   overflow-x: hidden;
}

body {
   background-color: #000;
}

nav.navbar-transparente {
   padding: 15px 0;
   background: rgba(0, 0, 0, 0.6);
}

.navbar-light .navbar-nav .nav-link {
   color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
   color: #9bf0e1;
}

.navbar-light .navbar-toggler {

   color:rgba(255,255,255,.5);
   border-color:rgba(255,255,255,0.5);
}

.divisor {
   width: 1px;
   background: white;
   margin: 12px 15px;
}

/*capa---------------*/
.capa {
   text-align: center;
}

.btn-custom {
   color: white;
   border-radius: 500px;
   -webkit-border-radius:500px;
   -moz-border-radius: 500px;
   text-transform: uppercase;
   transition: background 0.4s, color 0.4s;
   padding: 10px 20px;
   text-decoration: none;
}

.btn-roxo {
   background: #7c25f8;
}

.btn-roxo:hover {
   background: #6207e3;
   color: white;
   text-decoration: none;
}

.btn-branco {
   border: 2px solid white;
}

.btn-branco:hover {
   background-color: white;
   color: black;
   text-decoration: none;
}
/*fim capa---------------*/

.cta {
   position: relative;
   margin-top: 25px;
   padding: 12px 18px;
   transition: all 0.2s ease;
   border: none;
   background: none;
  }
  
  .cta:before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   display: block;
   border-radius: 50px;
   background: #7c25f8;
   width: 45px;
   height: 45px;
   transition: all 0.3s ease;
   text-decoration: none;
  }
  
  .cta span {
   position: relative;
   font-family: "Ubuntu", sans-serif;
   font-size: 18px;
   font-weight: 700;
   letter-spacing: 0.05em;
   color: #f2ccff;
  }
  
  .cta svg {
   position: relative;
   top: 0;
   margin-left: 10px;
   fill: none;
   stroke-linecap: round;
   stroke-linejoin: round;
   stroke: #f2ccff;
   stroke-width: 2;
   transform: translateX(-5px);
   transition: all 0.3s ease;
  }
  
  .cta:hover:before {
   width: 100%;
   background: #7c25f8;
  }
  
  .cta:hover svg {
   transform: translateX(0);
   text-decoration: none;
  }
  
  .cta:active {
   transform: scale(0.95);
   text-decoration: none;
  }

 .cta img{
   color: #f2ccff;
   
 }


  .ctaa {
   position: relative;
   margin-top: 25px;
   padding: 12px 18px;
   transition: all 0.2s ease;
   border: none;
   background: none;
  }
  
  .ctaa:before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   display: block;
   border-radius: 50px;
   background: #7c25f8;
   width: 45px;
   height: 45px;
   transition: all 0.3s ease;
  }
  
  .ctaa span {
   position: relative;
   font-family: "Ubuntu", sans-serif;
   font-size: 18px;
   font-weight: 700;
   letter-spacing: 0.05em;
   color: #f2ccff;
  }
  
  .ctaa svg {
   position: relative;
   top: 0;
   margin-left: 10px;
   fill: none;
   stroke-linecap: round;
   stroke-linejoin: round;
   stroke: #f2ccff;
   stroke-width: 2;
   transform: translateX(-5px);
   transition: all 0.3s ease;
  }
  
  .ctaa:hover:before {
   width: 100%;
   background: #7c25f8;
  }
  
  .ctaa:hover svg {
   transform: translateX(0);
  }
  
  .ctaa:active {
   transform: scale(0.95);
  }

/*conteudo---------------*/
#servicos {
   background: black;
   padding-top: 110px;
   padding-bottom: 20px;
}

#servicos h2, h3 {
   color: #7c75f8;
}

#servicos p {
   color: #d9d9d9;
}

#recursos {
   padding-top: 20px;
   padding-bottom: 20px;
}

#recursos h3 {
   color: #9bf0e1;
}

#recursos h2{
   color: white;
}

#recursos {
   color: white;
}

.albuns {
   padding: 10px 0;
}

.rotacionar {
   transform: rotate(30deg);
   -ms-transform: rotate(30deg);/*explorer*/
   -webkit-transform: rotate(30deg);/*chrome, safari, opera*/
   padding-left: 80px;
}

.carousel-control-next, .carousel-control-prev {
   width: 5%;
}
/*fim conteudo---------------*/

.servicos button{
   text-decoration: none;
}

/*footer---------------*/
footer {
   background: white;
   padding: 55px 0px 85px 0px;
   position: relative;
}

footer h4 {
   color: #919496;
   font-size: 0.8em;
   text-transform: uppercase;
}

footer .navbar-nav a{
   color: white;
   font-size: 0.8em;
}

footer .navbar-nav a:hover{
   color: #9bf0e1;
   text-decoration: none;
}

footer ul {
   list-style: none;
}

footer ul li{
   float: right;
   margin: 0px 5px;
}

.social {
   position: absolute;

}


.social ul{
   list-style: none;
}

.social ul li {
   display: inline-block;
   position: relative;
   width: 30px;
   height: 20px;
   line-height: 20px;
   text-align: center;
   margin: 0 10px;
   z-index: 10;
   cursor: pointer;
   transition: all 1s;
}

.social ul li:before{
   content: "";
   width: 30px;
   height: 30px;
   position: absolute;
   top: 0; left:0;
   background-color: transparent;
   border: 1px solid #000;
   z-index: 0;
   display: block;
   transform: rotate(0deg);
   animation: rotate 5s infinite linear;

}

@keyframes rotate{
   0%{
      transform: rotate(0deg);
   }
   25%{
      transform: rotate(90deg);
   }
   50%{
      transform: rotate(180deg);
   }
   75%{
      transform: rotate(270deg);
   }
   100%{
      transform: rotate(360deg);
   }
}

.social ul li a{
   font-size: 10px;

   color: #000;
}

.social ul li:nth-child(1):hover a{
   color: #3b5998;
}

.social ul li:nth-child(2):hover a{
   color: red;
}


.social ul li:nth-child(3):hover a{
   color: green;
}

.social ul li:nth-child(4):hover a{
   color: #3b5998;
}


.heart{
   font-size: 0;
   width: 50px;
   bottom: 5px;
   
}

[class*="heart-piece"]{
   position: absolute;
   top: -5px;
   width: 10px;
   height: 10px;
   border-radius: 5px;
}

.heart-piece-4{
   animation: piece-4 3.2s infinite;
}
.heart-piece-3, .heart-piece-5{
   animation: piece-3 3.2s infinite;
}
.heart-piece-2, .heart-piece-6{
   animation: piece-2 3.2s infinite;
}
.heart-piece-1, .heart-piece-7{
   animation: piece-1 3.2s infinite;
}
.heart-piece-0, .heart-piece-8{
   animation: piece-0 3.2s infinite;
}

.heart-piece-0{
   left: 0;
   animation-delay: 0s;
   background-color: #D52D00;
}
.heart-piece-1{
   left: 16px;
   animation-delay: 0.15s;
   background-color: #EF7627;
}
.heart-piece-2{
   left: 32px;
   animation-delay: 0.3s;
   background-color: #FF9A56;
}
.heart-piece-3{
   left: 48px;
   animation-delay: 0.45s;
   background-color: #fae6ff;
}
.heart-piece-4{
   left: 64px;
   animation-delay: 0.6s;
   background-color: #D162A4;
}
.heart-piece-5{
   left: 80px;
   animation-delay: 0.75s;
   background-color: #B55690;
}
.heart-piece-6{
   left: 96px;
   animation-delay: 0.9s;
   background-color: #A30262;
}
.heart-piece-7{
   left: 112px;
   animation-delay: 1.05s;
   background-color: #EF7627;
}
.heart-piece-8{
   left: 128px;
   animation-delay: 1.2s;
   background-color: #D52D00;
}

@keyframes piece-4 {
   0%,10%,90%,100% {
      height: 10px;
      top: -5px;
   }
   45%,55%{
      height: 94px;
      top: -23px;
   }
}
@keyframes piece-3 {
   0%,10%,90%,100% {
      height: 10px;
      top: -5px;
   }
   45%,55%{
      height: 90px;
      top: -31px;
   }
}
@keyframes piece-2 {
   0%,10%,90%,100% {
      height: 10px;
      top: -5px;
   }
   45%,55%{
      height: 80px;
      top: -37px;
   }
}
@keyframes piece-1 {
   0%,10%,90%,100% {
      height: 10px;
      top: -5px;
   }
   45%,55%{
      height: 60px;
      top: -31px;
   }
}
@keyframes piece-0 {
   0%,10%,90%,100% {
      height: 10px;
      top: -5px;
   }
   45%,55%{
      height: 30px;
      top: -15px;
   }
}

/*textos---------------*/
h1 {
   font-weight: 900;
   letter-spacing: -0.05em;
   margin-bottom: 50px;
   color: white;
}

h2 {
   font-size: 3em;
   font-weight: 700;
   letter-spacing: -0.04em;
}

h3 {
   font-size: 2em;
   font-weight: 700;
   letter-spacing: -0.04em;
}
/*fim textos---------------*/




/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
   .btn-custom {
      margin: 10px 15px;
      font-size: 1em;
   }
   footer h4 {
      padding-top: 10px;
      margin: 10px 0;
   }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
   h1 {
      font-size: 3em;
   }
   .btn-custom {
      margin: 10px 15px;
   }
   footer h4 {
      padding-top: 10px;
      margin: 10px 0;
   }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
   h1 {
      font-size: 4em;
   }
  
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
   h1 {
      font-size: 5em;
   }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
   h1 {
      font-size: 6em;
   }
}